@model IEnumerable<LabProject.Models.Hall>

@{
    ViewData["Title"] = "Зали в кінотеатрі";
}

<h1 class="mt-5">Зали в @ViewBag.CinemaName</h1>
@if (ViewBag.hidden != 1)
                {
    <a href='@Url.Action("Create", new { cinemaId = ViewBag.CinemaId })'>
        <input type="button" class="btn btn-info disabled mt-2 mb-3" value="Додати нову залу" />
    </a>
                }

<div class="col-6">
    <p style="font-size:15px">Завантаження інформації в файл</p>
    <a href='@Url.Action("Export")'><input type="button" value="Завантажити" class="btn btn-primary mb-3" /></a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HallName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HallCapacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HallName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HallCapacity)
            </td>
                @if (ViewBag.hidden != 1)
                {
            <td>

                <a href="@Url.Action("Details", new { id = item.HallId })"><input type="button" value="Розклад" class="btn btn-info" /></a>
                <a href="@Url.Action("Edit", new { id = item.HallId })"><input type="button" value="Редагувати" class="btn btn-outline-info" /></a>
                <a href="@Url.Action("Delete", new { id = item.HallId })"><input type="button" value="Видалити" class="btn btn-outline-info" /></a>
            </td>
                }
        </tr>
}
    </tbody>
</table>
